/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3f3f3f;
    color: #f1f1f1;
    line-height: 1.6;
}
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* Header (sticky) */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #2b2b2b;
    border-bottom: 2px solid #555;
    padding: 12px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    tab-size: 10px;
}
.logo img {
    width: 50px;
    min-height: min-content;
    max-height: max-content;
}
/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}
nav a {
    font-weight: bold;
}
/* Main content */
main {
    padding: 40px 60px;
}
/* Headings */
h1,
h2,
h3 {
    margin-bottom: 15px;
}
/* Homepage cards */
.card-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    margin: 40px 0;
}
.card {
    background-color: #2f2f2f;
    padding: 20px;
    border: 1px solid #555;
    text-align: center;
    width: 250px;
    border: 5px solid rgb(30, 30, 30); 
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
}
.card img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 15px;
}
/* Product page */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-top: 30px;
}

.product-card {
    background-color: #2f2f2f;
    width: 250px;
    padding: 15px;
    border: 1px solid #555;
    text-align: center;
}

.product-image {
    background-color: #555;
    height: 140px;
    margin-bottom: 10px;
}

/* Buttons / links */
.button-link {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}
.secbox {
    display: grid;
    margin-top: 10px;
    border: 1px solid rgb(30, 30, 30);
}
/* Footer */
footer {
    text-align: center;
    background-color: #2b2b2b;
    padding: 20px;
    margin-top: 60px;
    border-top: 2px solid #555;
    font-size: 0.9em;
}
